
.add button {
	
	color: white;
	width:80px;
	border-radius: 5px;
	height:30px;;
	margin:5px;
}
.add i{
	color: white;
}
.tag button{
	color: white;
	width:80px;
	border-radius: 5px;
	height:30px;
}
.tag i{
	color: white;
}
.card-body{
	color: black;
	font-family:Times New Roman;
	font-weight: bold !important;
}