*{
	margin:0;
	padding:0;
}
.product{
	height:500px;
	
}
.product img{
width: 400px;
height: 100%;
}
.infor h1{
	font-size:35px;

}
.infor{
	margin-left: 50px;
}
.buy{
	width: 60px;
	height:50px;
	border: 1px solid black;
	float: left;

}
.book img {
width:100px;


}